#Provide your Static authentication token below
REACT_APP_VIDEOSDK_TOKEN = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlrZXkiOiJkMGFmOTIzYy1kYWMwLTQwMDYtOTk2Mi00MTllNTI5MGY3YjkiLCJwZXJtaXNzaW9ucyI6WyJhbGxvd19qb2luIl0sImlhdCI6MTY5ODgxNTM2MywiZXhwIjoxNzE0MzY3MzYzfQ.vXPj2ZcEVrCCYPdvc2QxUWXjtg5d50VcJdS8ktG4ALw"
#OR

#Provide your authentication server base url
REACT_APP_AUTH_URL = "http://localhost:9000"

#Any one value from above is mandatory for testing purpose
#For production deployment, we recommend using an Authentication server instead of static token